{% extends "base.html" %}
{% block title %}Politique de confidentialité{% endblock %}
{% block content %}
  <!-- Section principale -->
  <section class="container my-5">
    <h1 class="text-center text-3xl font-bold text-primary mb-4">Politique de confidentialité</h1>
    <p class="text-center">La politique de confidentialité de FreeCours4U.com est en cours de rédaction. Revenez bientôt pour plus d'informations.</p>
  </section>
  <div class="advertisement">
      <!-- Emplacement pour la publicité -->
      <img src="https://via.placeholder.com/468x60?text=Publicisation" alt="Publicité">
  </div>
{% endblock %}